@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #080808;
  color: #ffffff;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Custom Minimal Orange Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #080808;
}

::-webkit-scrollbar-thumb {
  background: #ff5500;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff7722;
}

/* Glowing text selection */
::selection {
  background-color: #ff5500;
  color: #000000;
}